/* Regular 400 - 正文 */
/* @font-face {
  font-family: 'MiSans';
  src:
    url('@/assets/fonts/MiSans/MiSans-Regular.woff2') format('woff2'),
    url('@/assets/fonts/MiSans/MiSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

/* Medium 500 - 强调 */
/* @font-face {
  font-family: 'MiSans';
  src:
    url('@/assets/fonts/MiSans/MiSans-Medium.woff2') format('woff2'),
    url('@/assets/fonts/MiSans/MiSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

/* Semibold 600 - 标题 */
/* @font-face {
  font-family: 'MiSans';
  src:
    url('@/assets/fonts/MiSans/MiSans-Semibold.woff2') format('woff2'),
    url('@/assets/fonts/MiSans/MiSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} */
